.contact-form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    color: #fff;
    background: rgb(0,3,32);
background: linear-gradient(128deg, rgba(0,3,32,1) 0%, rgba(2,8,121,1) 49%, rgba(168,94,3,1) 100%);
    max-width: 100%;
    margin: 0 auto;
}

.info-text {
    text-align: center;
    margin-bottom: 10px;
}

.info-text h2 {
    font-size: 1.5rem;
}

.info-text span {
    font-style: italic;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: #000;
}

.contact-form input,
.contact-form select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #0a0a0a;
   
}

.mobile-input {
    display: flex;
    align-items: center;
    border: 1px solid #0a0a0a;
}

.country-code {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.mobile-input input {
    flex: 1;
    border-radius: 0 4px 4px 0;
}

.consent-checkbox {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
}

.submit-button {
    background-color: #ff4500;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px;
}

.submit-button:hover {
    background-color: #1500d6;
}

/* Responsive styling */
@media (max-width: 768px) {
    .contact-form-container {
        padding: 10px;
        flex-direction: column;
    }

    .info-text h2 {
        font-size: 1.25rem;
    }
}
